h1 a {
    color: #FCA205;
    margin:0px;
}

body {
background: white url("../images/back.jpg") repeat right bottom;
}


/*main row*/
.container {
    width: 100%;
    min-width: 675px;
    max-width: 1044px;
    height: 100%;
    padding: 0;
    margin-top: 0;
    background: white;
}

/*base css*/
.top_header {
    width: 100%;
    height: 50px;
    background: black url("../images/footback.png") repeat right bottom;
    color: white;
}

.mega_menu {
    float: left;
    padding-top: 8px;
    }

.mega_menu ul li {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    display: inline;
    color: white;
    font-weight: bold;
    padding-right: 30px;
    font-size: 22px;
    font-style: italic;
 }

 .top_address {
    float: right;
    padding-right: 40px;
    padding-top: 15px;
    margin-top: 0;
 }

 .top_address img {
    height: 25px;
    padding-right: 10px;
 }

 .header_phone {
 font-weight: bold;
 }

.header {
    width: 100%;
    height: 80px;

}

/*.header a {
    text-decoration: none;
    color: #2b5b84;
    font-weight: bold;
    font-size: 45px;
}

.header a:hover {
    color: #2b5b84;
}
*/
.logo {
    padding-top: 20px;
    padding-left: 35px;
    float: left;
}

.logo img {
height: 50px;
}

.secondary_menu {
    float: right;
    padding-top: 25px;
}

.secondary_menu ul li {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    display: inline;
    color: black;
    font-weight: bold;
    margin-right: 5px;
    font-size: 22px;
    font-style: italic;
    text-decoration: none;
 }

 .secondary_menu ul li a:hover {

    text-decoration: none;

 }

 .secondary_menu ul li a:hover li {

 }

.secondary_menu ul li a {
    color: black;
}
 .secondary_menu ul li:hover > a {
    color: white;
 }


   .secondary_menu ul li a img {
    width: 30px;
    height: 15px;
    padding-right: 5px;
 }

 .secondary_menu ul li ul {
     position: absolute;
  z-index: 5;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  height: 240px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
  background: black url("../images/secback.png") repeat;
 }

.secondary_menu ul li:hover ul {
    display: block;
    margin-top: 2px;
    color: white;
    transition: 3s;
}


.secondary_menu ul li ul li {
    display: block;
    margin-left: -20px;
    padding-right: 30px;

}

.secondary_menu ul li ul li:hover {
    text-decoration: underline;
}



.secondary_menu ul li ul li a {
    color: white;
}



.secondary_menu_right {
    margin-left: 170px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.secondary_menu_main {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.secondary_menu_main:hover {
    background: black url("../images/secback.png") repeat;
 }

.footer {
    height: 140px;
    background: black url("../images/footback.png") repeat right bottom;
}

.footer_partners {
    padding-top: 33px;
    padding-left: 50px;
    float: left;
    position: relative;
}

.footer_partners img {
    width: 140px;
    height: 75px;
    margin-right: 15px;
}

.footer_address {
    padding-top: 29px;
    margin-left: 30px;
    float: left;
    position: relative;

}

.footer_address p {
    font-size: 20px;
    font-style: italic;
    color: white;
}

.footer_social {
    float: left;
    position: relative;
    padding-top: 29px;
    margin-left: 40px;
}

.footer_social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*home page content*/
.content {
/*background: white url("../images/content_background.jpg") no-repeat right bottom;*/

}

.slider {
    height: 272px;
    width: 1044px;
 }

.slider img {
    width: 100%;
}

.tooltip {
    opacity: 1;
}

.home_content {
    width: 1044px;
    padding-left: 20px;
    padding-top: 20px;
}

.home_widget {
    width: 320px;
    height: 235px;
    float: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 30px;
}

.widget_image {
    background: black;
 overflow: hidden;
    position: relative;
    text-align: center;

}

.widget_image img:hover {
    opacity: 0.5;
}

.widget_image img {
    width: 320px;
    height: 210px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
     display: block;
    position: relative;

}

.mask {
   position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
     width: 320px;
    height: 210px;
    cursor: pointer;
}

.mask p {

    font-size: 20px;
    position: relative;
    padding: 15px;
    text-align: center;
color: white;
    margin-top: 80px;
    font-weight: bold;
    opacity: 0.5;
}

.view-first {
transition: all 0.2s linear;
box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(28, 28, 28, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}

.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 1;
}

.view-first:hover p
 {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}

.widget_title {
        width: 100%;

}

.widget_title p{
    font-weight: bold;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
}

.widget_title img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-top: -2px;
}

/* ANIMATION */
@-moz-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; }
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }

}
@-moz-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; }
	36% { top:0px; opacity:1; z-index:0; }
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; }
	56% { top:0px; opacity:1; }
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; }
	20% { top:325px; opacity:0; z-index:0; }
	21% { top:-325px; opacity:0; z-index:-1; }
	50% { top:-325px; opacity:0; z-index:-1; }
	92% { top:-325px; opacity:0; z-index:0; }
	96% { top:-325px; opacity:0; }
	100%{ top:0px; opacity:1; }

}
@-webkit-keyframes cycletwo {
	0%  { top:-325px; opacity:0; }
	16% { top:-325px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; }
	36% { top:0px; opacity:1; z-index:0; }
	40% { top:325px; opacity:0; z-index:0; }
	41% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
	0%  { top:-325px; opacity:0; }
	36% { top:-325px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; }
	56% { top:0px; opacity:1; z-index:0; }
	60% { top:325px; opacity:0; z-index:0; }
	61% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
	0%  { top:-325px; opacity:0; }
	56% { top:-325px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:325px; opacity:0; z-index:0; }
	81% { top:-325px; opacity:0; z-index:-1; }
	100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
	0%  { top:-325px; opacity:0; }
	76% { top:-325px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}


/* HTML5 display-role reset for older browsers */


table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:267px;


}
/* SLIDER */
#slider {
	background:#000;

	box-shadow:1px 1px 5px rgba(0,0,0,0.7);
	height:100%;
	width:100%;

	overflow:visible;
	position:relative;
}
#mask {
	overflow:hidden;
	height:100%;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:100%;
	height:100%;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;
	-webkit-animation:cycle 25s linear infinite;
}
#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;
}

#slider .tooltip {
	background:rgba(0,0,0,0.7);
	width:300px;
	height:60px;
	position:relative;
	bottom:208px;
	left:-320px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
#slider .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
	padding:0 0 0 20px;
}
#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
	left:0px;
}
#slider:hover li,
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar {
	position:relative;
	top:-1px;
	width:680px;
	height:5px;
	background:#000;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}

.slider img {
    height: 267px;
}

/*Country*/

.country_image img {
    width:1044px;
     height: 272px;
}

.country_tours {
    padding-left: 40px;
    padding-top: 20px;
    width: 1044px;
    margin-bottom: 60px;
}

.country_tours p {
    display: inline-block;
    border-left: solid 5px blue;
    color: blue;
    font-size: 40px;
    padding-left: 5px;
}

.country_tours_list {
    width: 100%;
    text-decoration: none;
    margin-left: -20px;
}

.country_tours_list li {
    width: 170px;
    list-style-type: none;
    float: left;
    position: relative;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
}

.country_gallery {
    width:1100px;
    margin-left: -40px;
    margin-bottom: 240px;
}

.country_gallery img {
    width: 261px;
    height: 150px;
}

.country_gallery li {
    width: 261px;
    list-style-type: none;
    float: left;
    position: relative;
}

.country_information {
    width: 1044px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.country_information_headline {
    color: blue;
    font-size: 40px;
}

.country_information p {
    font-family: Verdana;
}