h1 a {
    color: #FCA205;
    margin:0px;
}

.container {
    width: 100%;
    min-width: 675px;
    max-width: 1044px;
    height: 100%;
    padding: 0;
    margin-top: 0;
}

.top_header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
}

.mega_menu {
    float: left;
    padding-top: 8px;
    }

.mega_menu ul li {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    display: inline;
    color: white;
    font-weight: bold;
    padding-right: 30px;
    font-size: 22px;
    font-style: italic;
 }

 .top_address {
    float: right;
    padding-right: 40px;
    padding-top: 15px;
    margin-top: 0;
 }

 .top_address img {
    height: 25px;
    padding-right: 10px;
 }

 .header_phone {
 font-weight: bold;
 }

.header {
    width: 100%;
    height: 100px;
    border-bottom: solid 1px gray;
}

.header a {
    text-decoration: none;
    color: #2b5b84;
    font-weight: bold;
    font-size: 45px;
}

.header a:hover {
    color: #2b5b84;
}

.logo {
    padding-top: 8px;
    padding-left: 30px;
    float: left;
}

.secondary_menu {
    float: right;
    padding-top: 35px;
}

.secondary_menu ul li {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    display: inline;
    color: black;
    font-weight: bold;
    padding-right: 30px;
    font-size: 22px;
    font-style: italic;
 }

 .slider {
    height: 370px;
 }

.slider img {
    width: 100%;
}