{% extends 'svetour/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="country_image">
        <img src="{% static "images/andorra.jpg" %}"/>
    </div>
    <div class="country_tours">
        <p> Туры в Андорру</p>
        <ul class="country_tours_list">
            <li>Энкамп</li>
            <li>Андорра-ла-Велья</li>
            <li>Сольдеу</li>
            <li>Ла-Массана</li>
            <li>Пас-де-ла-Каса</li>
        </ul>
    </div>
    <div class="country_gallery">
        <ul>
            <li><img src="{% static "images/andorra/gallery1.jpg" %}" alt=""/></li>
            <li><img src="{% static "images/andorra/gallery2.jpg" %}" alt=""/></li>
            <li><img src="{% static "images/andorra/gallery3.jpg" %}" alt=""/></li>
            <li><img src="{% static "images/andorra/gallery4.jpg" %}" alt=""/></li>
        </ul>
    </div>
    <div class="country_information">
        <p class="country_information_headline">Общая информация</p>
        <p>Андорра — самый солнечный курорт среди горнолыжных курортов Европы. Удивительно, но при большом количестве снега в горах, внизу, в городе,
            постоянно множество цветов. Помимо невероятного разнообразия пейзажей в Андорре большое количество памятников Средневековья. Андорра — страна традиций,
            изменить которые не в силах ни наплыв пришлых жителей, ни паломничество туристов, ни модернизация и реформы. </p>
        <p>Среди несомненных достоинств горнолыжных курортов
            Андорры стоит упомянуть увлекательный и выгодный шоппинг, ведь это зона Tax-Free- беспошлинной торговли. Трассы, общей протяжённостью 282 км, разной категории
            сложности, удовлетворят запросы лыжников всех уровней, а 110 подъёмников способны доставить на вершины 154 000 человек в час. Специалисты признают,
            что пиренейские трассы не уступают по качеству подготовки знаменитым альпийским спускам.</p>
    </div>
    <div class="country_hotels">
        <div class="country_hotel">
            <div class="country_hotel_left">
                <div class="country_hotel_image">
                    <img src="{% static "images/andorra/shusski_preview.jpg" %}" alt=""/>
                </div>
                <div class="country_hotel_stars">
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                </div>
            </div>
            <div class="country_hotel_right">
                <div class="country_hotel_name">
                    <p class="preview_hotel_name"><a href="../shusskiapthl">SHUSSKI APTHL</a></p>
                    <p class="preview_city_name">Энкамп</p>
                </div>
                <div class="country_hotel_price">
                    <p><img src="{% static "images/vallet.png" %}" alt=""/>******* бел.р.</p>
                </div>
                <div class="country_hotel_features">
                    <p><img src="{% static "images/airplane.png" %}" alt=""/>Вылет из Москвы</p>
                    <p><img src="{% static "images/glassfork.png" %}" alt=""/>Полупансион</p>
                    <p><img src="{% static "images/bed.png" %}" alt=""/>STANDARD**</p>
                    <p><img src="{% static "images/calendar.png" %}" alt=""/>10.01.2016, 10 ночей</p>
                </div>
            </div>
        </div>

        <div class="country_hotel">
            <div class="country_hotel_left">
                <div class="country_hotel_image">
                    <img src="{% static "images/andorra/cervol.jpg" %}" alt=""/>
                </div>
                <div class="country_hotel_stars">
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                    <img src="{% static "images/stars.png" %}" alt=""/>
                </div>
            </div>
            <div class="country_hotel_right">
                <div class="country_hotel_name">
                    <p class="preview_hotel_name">CERVOL</p>
                    <p class="preview_city_name">Андорра-ла-Велья</p>
                </div>
                <div class="country_hotel_price">
                    <p><img src="{% static "images/vallet.png" %}" alt=""/>******* бел.р.</p>
                </div>
                <div class="country_hotel_features">
                    <p><img src="{% static "images/airplane.png" %}" alt=""/>Вылет из Москвы</p>
                    <p><img src="{% static "images/glassfork.png" %}" alt=""/>Полупансион</p>
                    <p><img src="{% static "images/bed.png" %}" alt=""/>STANDARD ROOM</p>
                    <p><img src="{% static "images/calendar.png" %}" alt=""/>10.01.2016, 10 ночей</p>
                </div>
            </div>
        </div>
    </div>

      {% endblock content %}