{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Светлый тур</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/svetour.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.gif' %}">
    <meta name="description" content="Лучшие туры в другие страны из города Светлогорска, Светлый тур, svetour, отдых, город Светлогорск, отдых на море, шоп-туры, лучший туроператор Светлогорска, пляжный отдых, шоп-туры, автобусные туры, туры на горнолыжные курорты, туры по Беларуси, авиабилеты.">
    <meta name="keywords" content="светлый тур, svetour, отдых, город Светлогорск, отдых на море, шоп-туры, лучший туроператор Светлогорска, пляжный отдых, шоп-туры, автобусные туры, туры на горнолыжные курорты, туры по Беларуси, авиабилеты.">
    <link rel="canonical" href="http://svetour.pythonanywhere.com">
    <meta name="robots" content="NOODP">
    <meta name="robots" content="NOYDIR">
    <link rel="canonical" href="http://svetour.pythonanywhere.com">
</head>
<body>
<div class="container">
    <div class="top_header">
        <div class="mega_menu">
            <ul>
                <li>Главная</li>
                <li>О компании</li>
                <li>Отзывы</li>
            </ul>
        </div>
        <div class="top_address">
            {% load staticfiles %}
        <img src="{% static "images/Phone-icon.png" %}"/>
            Колл-центр агенства: <span class="header_phone">(8029)1849998</span>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <h1><a href="/">SVETOUR</a></h1>
        </div>
        <div class="secondary_menu">
        <ul>
                <li>Страны</li>
                <li>Отели</li>
                <li>Визы</li>
                 <li>Спецпредложения</li>
        </ul>
        </div>
    </div>
    <div class="slider">
         {% load staticfiles %}
        <a href="/"><img src="{% static "images/slider.jpg" %}" alt="Ocean"/></a>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
        <h1>footer</h1>
    </div>
    </div>
</body>
</html>