{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Светлый тур</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/svetour.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.gif' %}">
    <meta name="description" content="Лучшие туры в другие страны из города Светлогорска Светлый тур, svetour, отдых, город Светлогорск, отдых на море, шоп-туры, лучший туроператор Светлогорска, пляжный отдых, шоп-туры, автобусные туры, туры на горнолыжные курорты, туры по Беларуси, авиабилеты.">
    <meta name="keywords" content="светлый тур, svetour, отдых, город Светлогорск, отдых на море, шоп-туры, лучший туроператор Светлогорска, пляжный отдых, шоп-туры, автобусные туры, туры на горнолыжные курорты, туры по Беларуси, авиабилеты.">
    <link rel="canonical" href="http://svetour.pythonanywhere.com">
    <meta name="robots" content="NOODP">
    <meta name="robots" content="NOYDIR">
    <link rel="canonical" href="http://svetour.pythonanywhere.com">
</head>
<body>
<div class="container">
    <div class="top_header">
        <div class="mega_menu">
            <ul>
                <li>Главная</li>
                <li>О компании</li>
                <li>Отзывы</li>
            </ul>
        </div>
        <div class="top_address">
            {% load staticfiles %}
        <img src="{% static "images/Phone-icon.png" %}"/>
            Колл-центр агенства: <span class="header_phone">(8029)1849998</span>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            {% load staticfiles %}
        <img src="{% static "images/logo.jpg" %}"/>
        </div>
        <div class="secondary_menu">
        <ul>
                <li>
                    <a href="">Страны</a>
                    <ul>
                        {% load staticfiles %}
                    <li><a href=""><img src="{% static "images/andorra.png" %}"/> Андорра</a></li>
                    <li><a href=""><img src="{% static "images/bulgaria.png" %}"/>Болгария</a></li>
                    <li><a href=""><img src="{% static "images/vietnam.jpg" %}"/>Вьетнам</a></li>
                    <li><a href=""><img src="{% static "images/greece.png" %}"/>Греция</a></li>
                    <li><a href=""><img src="{% static "images/egypt.png" %}"/>Египет</a></li>
                    <li><a href=""><img src="{% static "images/india.png" %}"/>Индия</a></li>
                    <li><a href=""><img src="{% static "images/italy.png" %}"/>Италия</a></li>
                </ul>
                    <ul class="secondary_menu_right">
                        <li><a href=""><img src="{% static "images/indonesia.png" %}"/>Индонезия</a></li>
                        <li><a href=""><img src="{% static "images/uae.png" %}"/>ОАЭ</a></li>
                        <li><a href=""><img src="{% static "images/portugal.png" %}"/>Португалия</a></li>
                        <li><a href=""><img src="{% static "images/thailand.gif" %}"/>Таиланд</a></li>
                        <li><a href=""><img src="{% static "images/turkey.png" %}"/>Турция</a></li>
                        <li><a href=""><img src="{% static "images/chernog.png" %}"/>Черногория</a></li>

                    </ul>
                </li>
                <li>Отели</li>
                <li>Визы</li>
                 <li>Спецпредложения</li>
        </ul>
        </div>
    </div>
    <div class="slider">
      <!--{% load staticfiles %}
        <a href="/"><img src="{% static "images/slider.jpg" %}" alt="Ocean"/></a>-->
        {% load staticfiles %}

	<div id="content-slider">
    	<div id="slider">
        	<div id="mask">
            <ul>
           	<li id="first" class="firstanimation">
            <a href="#">
            <img src="{% static "images/slider0.jpg" %}" alt="Cougar"/>
            </a>
            <div class="tooltip">
            <h1>Cougar</h1>
            </div>
            </li>

            <li id="second" class="secondanimation">
            <a href="#">
            <img src="{% static "images/slider1.jpg" %}" alt="Lions"/>
            </a>
            <div class="tooltip">
            <h1>Lions</h1>
            </div>
            </li>

            <li id="third" class="thirdanimation">
            <a href="#">
            <img src="{% static "images/slider2.jpg" %}" alt="Snowalker"/>
            </a>
            <div class="tooltip">
            <h1>Snowalker</h1>
            </div>
            </li>

            <li id="fourth" class="fourthanimation">
            <a href="#">
            <img src="{% static "images/slider3.jpg" %}" alt="Howling"/>
            </a>
            <div class="tooltip">
            <h1>Howling</h1>
            </div>
            </li>

            <li id="fifth" class="fifthanimation">
            <a href="#">
            <img src="{% static "images/slider4.jpg" %}" alt="Sunbathing"/>
            </a>
            <div class="tooltip">
            <h1>Sunbathing</h1>
            </div>
            </li>
            </ul>
            </div>
            <div class="progress-bar"></div>
        </div>

</div>

    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_partners">
             {% load staticfiles %}
        <a href="/"><img src="{% static "images/odeon.gif" %}" alt="Ocean"/></a>
             {% load staticfiles %}
        <a href="/"><img src="{% static "images/coral-travel-logo.jpg" %}" alt="Ocean"/></a>
             {% load staticfiles %}
        <a href="/"><img src="{% static "images/sunmar_logo.jpg" %}" alt="Ocean"/></a>
        </div>
        <div class="footer_address">
            <p>
            +375291849998<br />
            Беларусь, г.Светлогорск,<br />
            Ул.Молодёжная, д.59.
            </p>
        </div>
        <div class="footer_social">
              {% load staticfiles %}
        <a href="/"><img src="{% static "images/vk.png" %}" alt="Ocean"/></a>
              {% load staticfiles %}
        <a href="/"><img src="{% static "images/fb.png" %}" alt="Ocean"/></a>
              {% load staticfiles %}
        <a href="/"><img src="{% static "images/ok.png" %}" alt="Ocean"/></a>
              {% load staticfiles %}
        <a href="/"><img src="{% static "images/inst.ico" %}" alt="Ocean"/></a>
        </div>
    </div>
    </div>
</body>
</html>