{% extends 'svetour/base.html' %}

{% block content %}
<div class="home_content">
<div class="home_widget">
      <div class="widget_image">

           <div class="widget_image_img">            {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix1.jpg" %}" alt="Ocean"/></a></div>

      </div>
      <div class="widget_title">
                      <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/p.png" %}" alt="Ocean"/></a> Горящие туры </p>
      </div>
</div>

<div class="home_widget">
      <div class="widget_image">
                        {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix2.jpg" %}" alt="Ocean"/></a>
      </div>
      <div class="widget_title">
                        <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/sun.png" %}" alt="Ocean"/></a>Пляжный отдых</p>
      </div>
</div>

<div class="home_widget">
      <div class="widget_image">
           {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix3.jpg" %}" alt="Ocean"/></a>
      </div>
      <div class="widget_title">
                       <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/sn.png" %}" alt="Ocean"/></a> Горнолыжные курорты</p>
      </div>
      </div>

      <div class="home_widget">
      <div class="widget_image">
           {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix4.jpg" %}" alt="Ocean"/></a>
      </div>
      <div class="widget_title">
                       <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/auto.png" %}" alt="Ocean"/></a>Евротуры и шопинг</p>
      </div>
      </div>

      <div class="home_widget">
      <div class="widget_image">
           {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix5.jpg" %}" alt="Ocean"/></a>
      </div>
      <div class="widget_title">
                      <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/finger.png" %}" alt="Ocean"/></a>Памятка туристу</p>
      </div>
      </div>

      <div class="home_widget">
      <div class="widget_image">
           {% load staticfiles %}
        <a href="/"><img src="{% static "images/matrix6.jpg" %}" alt="Ocean"/></a>
      </div>
      <div class="widget_title">
                        <p>{% load staticfiles %}
        <a href="/"><img src="{% static "images/watch.png" %}" alt="Ocean"/></a>Раннее бронирование</p>
      </div>
      </div>
      </div>
      {% endblock content %}